include title

include introducing-jest

include components/title
include components/smoke-tests
include components/shallow-rendering-enzyme
include components/snapshots

include redux/title
include redux/action-creators
include redux/reducers
include redux/thunks

include stories/title
include stories/installing-storybook
include stories/creating-stories

include tasks