extends ~layouts/columns

block title
    | Tasks

block content
    +slide_column()
        .l-column-fit
            +task('basic')
                | Rewrite the REST API calls to use sagas instead of thunks

            +task('optional')
                | Create a saga that handles notifications

            +task('optional')
                | Create a saga that handles authentication