extends ~layouts/columns

block title
    | Using flow with React

block content
    +slide_column(60)
        +code('console', 'javascript')
            include:escape ./types.js

    +slide_column(40).l-column-middle
        +code_focus('1').current-only
            :markdown-it
                The `@flow` directive is necessary in every file

        +code_focus('12-25').current-only
            :markdown-it
                `state` and `props` are important properties to type for a React component

        +code_focus('3-6').current-only
            :markdown-it
                Create an interface for the `state`.

        +code_focus('4').current-only
            :markdown-it
                The `+` prefix means that the property is read-only.
                The state should be considered read-only, as it is only changed via `setState`.

        +code_focus('8-10').current-only
            :markdown-it
                Same goes for the `props`

        +code_focus('13-15').current-only
            :markdown-it
                Provide type and initial value for the `state`.

        +code_focus('17').current-only
            :markdown-it
                Provide type for the `props`

        +code_focus('19-21').current-only
            :markdown-it
                Flow will recognize that properties in `defaultProps` should be considered optional
